/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Body */
body {
    background-color: #f8f9fa;
}

/* Header */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

nav ul li a:hover {
    color: #007bff;
}

form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.cart {
    position: relative;
    display: inline-block;
}

.cart i {
    font-size: 24px;
    color: #333;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff0000;
    color: #fff;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 12px;
}

/* Banner */
.banner {
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-text {
    max-width: 600px;
    color: #000000;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.banner-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 18px;
    line-height: 1.5;
}

.banner-text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* Products */
.products {
    padding: 20px;
}

.products h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
